html, body {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size:13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;       
}
body {
    color: #214478;
    background-color: #FFFFFF;    
}
br {
    clear: both;
    margin-top:2px;
    margin-bottom:2px;
}
fieldset {
    border-style:solid;
    border-width: 1px;
    border-color: #214478;
}
label {
    display: inline-block;    
    width:200px;
}

.sparql_container {
}

.sparql_container textarea {
    width: 700px;
    height: 200px;
}

table.rdfa {
    table-layout: fixed;
    width: 100%;
}

table.rdfa td {
    word-wrap: break-word
}