<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">      
    <context:component-scan base-package="biz.poolparty.rya"/>                                          
    <mvc:annotation-driven/> 
    <mvc:resources location="/resources/" mapping="/resources/**"/>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="memStore" class="org.openrdf.sail.memory.MemoryStore">
        <property name="persist" value="false"/>
    </bean>
    
    <bean id="repository" class="org.openrdf.repository.sail.SailRepository" init-method="initialize" destroy-method="shutDown">
        <constructor-arg ref="memStore"/>
    </bean>

    <bean id="memStoreSD" class="org.openrdf.sail.memory.MemoryStore">
        <property name="persist" value="false"/>
    </bean>
    
    <bean id="repositorySD" class="org.openrdf.repository.sail.SailRepository" init-method="initialize" destroy-method="shutDown">
        <constructor-arg ref="memStoreSD"/>
    </bean>
        
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">        
        <property name="basename" value="classpath:i18n/ui"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>    
</beans>
